<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429288133211-6fegpfr1tmj8iphlbivlq0pj12mmf0gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429288133211-6fegpfr1tmj8iphlbivlq0pj12mmf0gs</string>
	<key>API_KEY</key>
	<string>AIzaSyD1tXZjKhNtgBi1y-QGgdXqQlrDo3VXgQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>429288133211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yac.mobile</string>
	<key>PROJECT_ID</key>
	<string>yac-dummy</string>
	<key>STORAGE_BUCKET</key>
	<string>yac-dummy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429288133211:ios:984458c126499cc21da57e</string>
	<key>DATABASE_URL</key>
	<string>https://yac-dummy.firebaseio.com</string>
</dict>
</plist>